body {
  background: black url('/images/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}


header {
  grid-area: head;
  background-color: #273428;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;
  font: "Helvetica Neue";
  font-size: 25px;
}

header h1 a {
  grid-area: head;
  background-color: none;
  color: #EDEDD0;
  text-decoration: none;

}

nav ul {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
}

nav ul > li {
  grid-area: nav;
  list-style: none;
}

nav ul li a {
  grid-area: nav;
  color: black;
  text-decoration: none;
  background-color: #BBDEBE;
  height: 50px;
  width: 100px;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: : 20px;
  font-weight: bold;
}

section {
  grid-area: section;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  margin-right: 100px;
}

section article {
  grid-area: section;
  background-color: #EDEDD0;
  position: right;
  height: 250px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

}

section article h2 {
  grid-area: section;
  color: darkred;
  text-decoration: none;
  text-align: justify;
  font-size: 35px;
}

section article h3 {
  grid-area: section;
  color: #565651;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
}

section article h4 {
  grid-area: section;
  color: #565651;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
}

section article p {
  grid-area: section;
  color: #565651;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
}
