<p>Your new category has been added!</p>
<p>New Category: <%= @category.genre() %></p>


<form method="get" action="/category">
  <input type="submit" value="Back to categories"/>
</form>

<p><a href="/">Home<a/></p>
