<h1>Categories</h1>

<table>
  <tr>
    <th>Genre</th>
  </tr>
  <% for category in @category %>
  <tr>
    <td><a href="/category/<%= category.id %>"><%= category.genre %></a></td>
  </tr>
  <% end %>
</table>
