<form method="post" action="/category">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="genre"
  id="name-field"
  />



  <input type="submit" value="Add Category">
</form>

<p><a href="/">Home<a/></p>
