<p>Your addition was successful!</p>
<p>Title: <%= @exhibit.title() %></p>
<p>Category: <% @exhibit.category.each do |category| %>
<%= category.genre() %>
<% end %>%></p>
<p>Artist: <% @exhibit.artist.each do |artist| %>
<%= artist.name() %>
<% end %></p>

<form method="get" action="/exhibit">
  <input type="submit" value="Back to exhibits"/>
</form>
