<form method="post" action="/exhibit">
  <label for="title">Title:</label>
  <input
  type="text"
  name="title"
  id="title"
  />

  <label for="category-select">Select a category:</label>
  <select id="category-select" name="category">
    <option value="Painting">Painting</option>
    <option value="Sculpture">Sculpture</option>
    <option value="Science and Technology">Science and Technology</option>
  </select>

  <input type="submit" value="New Exhibit">
</form>
