<h1>Exhibit: <%= @exhibit.title %></h1>

<h2>Artist:</h2>

<ul>
  <% @exhibit.artist.each do |artist| %>
  <li><%= artist.name() %></li>
  <% end %>
</ul>


<form method="get" action="/exhibit/<%= @exhibit.id %>/edit"></a></p>
  <input type="submit" value="Edit Exhibit"/>


<form method="post" action=/<%= @exhibit.id %>/delete">
  <input type="submit" value="Delete Exhibit"/>
</form>
