<h1>The Museum</h1>

<h2>Welcome to The Museum</h2>


<form method="get" action="/artist">
  <input type="submit" value="Show artists"/>
</form>

<form method="get" action="/artist/new">
  <input type="submit" value="Add an artist"/>
</form>





<form method="get" action="/exhibit">
  <input type="submit" value="Show exhibits"/>
</form>

<form method="get" action="/exhibit/new">
  <input type="submit" value="Add an exhibit"/>
</form>





<form method="get" action="/category">
  <input type="submit" value="Show categories"/>
</form>

<form method="get" action="/category/new">
  <input type="submit" value="Add a category"/>
</form>
