<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Museum</title>
  </head>
  <body>
    <header><h1>Alan's Museum</h1></header>
    <main>
      <%= yield %>
    </main>

    <footer></footer>

  </body>
</html>
