<h1>Artists</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for artist in @artist %>
  <tr>
    <td><a href="/artist/<%= artist.id %>"><%= artist.name %></a></td>
  </tr>
  <% end %>
</table>
<br/>
<br/>
<form method="get" action="/artist/new">
  <input type="submit" value="Add Artist"/>
</form>
<br/>
