<h1>Artist: <%= @artist.name %></h1>

<h2>Exhibits:</h2>

<ul>
  <% @artist.exhibits.each do |exhibit| %>
  <li><%= exhibit.title() %></li>
  <% end %>
</ul>

<form method="get" action="/artist/<%= @artist.id %>/edit"></a></p>
  <input type="submit" value="Edit Artist"/>
</form>


<form method="post" action="/artist/<%= @artist.id %>/delete">
  <input type="submit" value="Delete Artist"/>
</form>


<p><a href="/">Home<a/></p>
  
